<div class="container articles">
  <div id="main-div" class="row is-flex">
              <div class="col-12 col-s-6 col-md-6 col-lg-4">
            <div class="article-div">
              <div class="site-content">
                <h2>${title}</h2>
                <p>${summary}</p>
              </div>
              <button class="btn mybtn" onclick=window.location.href="${link}">Read Article</button>
              <button class="btn mybtn save" data-id="${_id}">Save Article</button>
              <button class="btn mybtn comment" data-id="${_id}">Add Comment</button>
            </div>
          </div>
  </div>
</div>

<script src="js/articles.js"></script>
